<div class="container">
<table id="sol-table">

    <tbody><tr>
        <th class="first">&nbsp;</th>
        <th>Банки и финанси</th>
        <th>Застраховане и осигуряване</th>
        <th>Ютилити и телеком</th>
        <th class="">Търговия и продажби</th>
        <th class="">Издателска дейност</th>
        <th class="">Учебни институции</th>
    </tr>
    <tr class="cat">
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%94%D0%B8%D0%B3%D0%B8%D1%82%D0%B0%D0%BB%D0%B5%D0%BD-%D0%BF%D0%B5%D1%87%D0%B0%D1%82-10" title="Дигитален печат">Дигитален печат</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class=""><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%94%D0%B8%D0%B3%D0%B8%D1%82%D0%B0%D0%BB%D0%B5%D0%BD-%D0%BF%D0%B5%D1%87%D0%B0%D1%82-10/%D0%A0%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%BD%D0%B8-%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%B8-8" title="Рекламни материали" class="sub">Рекламни материали</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
        <td><a href="#" title="" class="hint">Дизайн и печат на визитки, папки, брошури, листовки, дипляни, каталози</a></td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%94%D0%B8%D0%B3%D0%B8%D1%82%D0%B0%D0%BB%D0%B5%D0%BD-%D0%BF%D0%B5%D1%87%D0%B0%D1%82-10/%D0%A2%D1%80%D0%B0%D0%BD%D0%B7%D0%B0%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D0%BD-%D0%BF%D0%B5%D1%87%D0%B0%D1%82-9" title="Транзакционен печат" class="sub">Транзакционен печат</a></td>
        <td><a href="#" title="" class="hint">Обработка на бази данни, печат на справки за движения по сметки, кредити и карти</a></td>
        <td><a href="#" title="" class="hint">Обработка на бази данни, печат на персонализирани съобщения и полици</a></td>
        <td><a href="#" title="" class="hint">Обработка на бази данни, печат на фактури, съобщения и справки за ползвани услуги</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class=""><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%94%D0%B8%D0%B3%D0%B8%D1%82%D0%B0%D0%BB%D0%B5%D0%BD-%D0%BF%D0%B5%D1%87%D0%B0%D1%82-10/%D0%9A%D0%BD%D0%B8%D0%B3%D0%B8-10" title="Книги" class="sub">Книги</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="#" title="" class="hint">Печат на фактури, персонализирани маркетингови съобщения и промоции</a></td>
        <td><a href="#" title="" class="hint">Печат на персонализирани маркетингови съобщения и промоции</a></td>
        <td><a href="#" title="" class="hint">Печат на персонализирани маркетингови съобщения и промоции</a></td>
    </tr>
    <tr class="cat">
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%9C%D0%B5%D0%B9%D0%BB%D0%B8%D0%BD%D0%B3-%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8-11" title="Мейлинг услуги">Мейлинг услуги</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class=""><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%9C%D0%B5%D0%B9%D0%BB%D0%B8%D0%BD%D0%B3-%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8-11/%D0%9F%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE-%D0%BD%D0%B0-%D0%BF%D0%B8%D1%81%D0%BC%D0%B0-12" title="Производство на писма" class="sub">Производство на писма</a></td>
        <td><a href="#" title="" class="hint">Пликоване на писма с финансова или маркетингова информация и изпращане до пощенска кутия или срещу подпис на получателя </a></td>
        <td><a href="#" title="" class="hint">Пликоване на писма с финансова или маркетингова информация и изпращане до пощенска кутия или срещу подпис на получателя </a></td>
        <td><a href="#" title="" class="hint">Пликоване на писма с финансова информация и изпращане до пощенска кутия или срещу подпис на получателя </a></td>
        <td><a href="#" title="" class="hint">Пликоване на фактури или маркетингови писма и изпращане към получателите</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%9C%D0%B5%D0%B9%D0%BB%D0%B8%D0%BD%D0%B3-%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8-11/%D0%9A%D0%B0%D1%80%D1%82%D0%BE%D0%B2-%D0%BC%D0%B5%D0%B9%D0%BB%D0%B8%D0%BD%D0%B3-11" title="Картов мейлинг" class="sub">Картов мейлинг</a></td>
        <td><a href="#" title="" class="hint">Пликоване на писма с банкови карти и/или PIN пликове и изпращане към получателите</a></td>
        <td><a href="#" title="" class="hint">Пликоване на писма с клиентски карти и изпращане към получателите</a></td>
        <td>&nbsp;</td>
        <td><a href="#" title="" class="hint">Пликоване на писма с клиентски карти и изпращане към получателите</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr class="cat">
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%B0%D1%80%D1%85%D0%B8%D0%B2%D0%B8-12" title="Електронни архиви">Електронни архиви</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%B0%D1%80%D1%85%D0%B8%D0%B2%D0%B8-12/%D0%9E%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0-%D0%BD%D0%B0-%D1%84%D0%BE%D1%80%D0%BC%D1%83%D0%BB%D1%8F%D1%80%D0%B8-15" title="Обработка на формуляри" class="sub">Обработка на формуляри</a></td>
        <td><a href="#" title="" class="hint">Извличане на данни от формуляри за искане на кредити кредити и карти, изграждане на електронни бази данни</a></td>
        <td><a href="#" title="" class="hint">Извличане на данни от заявления или сключени договори, изграждане на електронни бази данни</a></td>
        <td><a href="#" title="" class="hint">Извличане на данни от заявки за ползване на услуги, изграждане на електронни бази данни</a></td>
        <td><a href="#" title="" class="hint">Извличане на данни от поръчки, фактури, договори, изграждане на електронни бази данни</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%B0%D1%80%D1%85%D0%B8%D0%B2%D0%B8-12/%D0%A1%D0%BA%D0%B0%D0%BD%D0%B8%D1%80%D0%B0%D0%BD%D0%B5-14" title="Сканиране" class="sub">Сканиране</a></td>
        <td><a href="#" title="" class="hint">Дигитализация на кредитни досиета на клиенти, изграждане на електронен архив </a></td>
        <td><a href="#" title="" class="hint">Дигитализация на клиентски досиета, изграждане на електронен архив </a></td>
        <td><a href="#" title="" class="hint">Дигитализация на техническа и търговска документация, изграждане на електронен архив </a></td>
        <td><a href="#" title="" class="hint">Дигитализация на техническа, търговска и финансово-счетоводна документация, изграждане на електронен архив </a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%B0%D1%80%D1%85%D0%B8%D0%B2%D0%B8-12/%D0%A4%D0%B8%D0%B7%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE-%D1%81%D1%8A%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-13" title="Физическо съхранение" class="sub">Физическо съхранение</a></td>
        <td><a href="#" title="" class="hint">Подредба и съхранение на финансови документи в специализирани помещения</a></td>
        <td><a href="#" title="" class="hint">Подредба и съхранение на клиентски договори и досиета в специализирани помещения</a></td>
        <td><a href="#" title="" class="hint">Подредба и съхранение на клиентски договори и счетоводна документация в специализирани помещения</a></td>
        <td><a href="#" title="" class="hint">Подредба и съхранение на търгосвка и техническа документация в специализирани помещения</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr class="cat">
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BE%D0%BC%D1%83%D0%BD%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D0%B8-13" title="Електронни комуникации">Електронни комуникации</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BE%D0%BC%D1%83%D0%BD%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D0%B8-13/SMS-18" title="SMS" class="sub">SMS</a></td>
        <td><a href="#" title="" class="hint">Изпращане на напомнителни или статистически съобщения към мобилен телефон на клиента </a></td>
        <td><a href="#" title="" class="hint">Изпращане на напомнителни или статистически съобщения към мобилен телефон на осигуреното лице</a></td>
        <td><a href="#" title="" class="hint">Изпращане на напомнителни или статистически съобщения към мобилен телефон на потребителя на услугата</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BE%D0%BC%D1%83%D0%BD%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D0%B8-13/E-mail-17" title="E-mail" class="sub">E-mail</a></td>
        <td><a href="#" title="" class="hint">Генериране на електронни съобщения с финансова или маркетингова информация и изпращане в криптиран или свободен формат към получателя </a></td>
        <td><a href="#" title="" class="hint">Генериране на електронни съобщения с финансова или маркетингова информация и изпращане в криптиран или свободен формат към получателя  </a></td>
        <td><a href="#" title="" class="hint">Генериране на персонализирани електронни съобщения и изпращане към получателя </a></td>
        <td>&nbsp;</td>
        <td><a href="#" title="" class="hint">Генериране на персонализирани електронни  маркетингови съобщения и изпращане към читателите</a></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BE%D0%BC%D1%83%D0%BD%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D0%B8-13/E-invoice-16" title="E-invoice" class="sub">E-invoice</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="#" title="" class="hint">Генериране, изпращане и архивиране на цифрово-подписани електронни фактури чрез платформата www.e-invoice.bg към бизнес потребители на услугите</a></td>
        <td><a href="#" title="" class="hint">Генериране, изпращане и архивиране на цифрово-подписани електронни фактури чрез платформата www.e-invoice.bg</a></td>
        <td><a href="#" title="" class="hint">Генериране, изпращане и архивиране на цифрово-подписани електронни фактури чрез платформата www.e-invoice.bg</a></td>
        <td>&nbsp;</td>
    </tr>
    <tr class="cat">
        <td><a href="http://direct-services.359free.com/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8-14" title="Електронни книги">Електронни книги</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="#" title="" class="hint">Цялостни решения за продажба и дистрибуция на DRM заключени книги</a></td>
        <td><a href="#" title="" class="hint">Цялостни решения за разпостранение на DRM заключени учебни материали</a></td>
    </tr>
    </tbody></table>
</div>