<div class="row">
    <div  class="col-md-offset-1 col-md-10 col-sm-12">

        <h1>Question</h1>
        <p>{{kur}}</p>
        <h1>Answer</h1>
        <form action="" method="POST">

            <div id="msgBox" class="col-md-12 col-sm-12">
                <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message" required></textarea>
            </div>
            <div class="col-md-3 col-sm-6">
                <input name="submit" type="submit" class="form-control btn-success" id="submit" value="Send">
            </div>
        </form>
    </div>
</div>