<div class="preloader" xmlns="http://www.w3.org/1999/xhtml" xmlns:background-image="http://www.w3.org/1999/xhtml">
    <div>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
        <img src="http://seoservicesgroup.net/dbc/wp-content/themes/chomp/images/loading.gif" background-image:linear-gradient(45deg, #eee 25%,
             transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);>
    </div>
</div>
<section id="home" class="main-home parallax-section">
    <video poster="" id="bgvid" playsinline autoplay muted loop>
        <source src="images/dsm.mp4" type="video/mp4">
    </video>

 <div class="overlay">
 </div>
 <div id="particles-js">
 </div>
 <div class="container">
     <div class="row">
         <div class="col-md-12 col-sm-12">
             <h1> <span class="green">D</span>IRECT <span class="yellow">S</span>ERVICES</h1>
             <h4> Direct Services Дайрект Сървисиз ООД e българска компания за аутсорс услуги с дялово участие на ANY Security Printing Company. Стремежът за развитие и фокусът върху клиентските потребности са в основата на нашия бизнес модел. Предлагаме
                 комплексни решения - от анализа до финалния продукт, във всяко едно от следните направления - директен мейлинг, персонализиран и транзакционен печат, обработка на формуляри, дигитализация на архиви, печат на книги, банкови карти,
                 PIN пликове, eлектронни книги, картови технологии.
             </h4>
             <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
         </div>
     </div>
 </div>
</section>
<!-- Blog Section -->
<div class="container">
<div class="col-md-offset-0">
    <h2 style="text-align:center">Какво предлагаме</h2>
    <hr>
</div>
</div>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Ние съживяваме вашите архиви</h3>
                <div class="row mt-60">
                    <a href="/services/elArhives">
                        <div class="col-md-2" >
                            <img src="https://cdn.dribbble.com/users/183024/screenshots/1945172/folder.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Дигитализацията на архиви е едно от най-развитите ни направления. Изградили сме собствена система за работа с електронния архив, а високо квалифицираният екип, оборудването и фирменото know-how осигуряват висока призводителност. Ежемесечно сканираме и индексираме стотици хиляди документи.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/elArhives" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Произвеждаме над 2 мил. писма месечно</h3>
                <div class="row mt-60">
                    <a href="/services/meiling">
                        <div class="col-md-2" >
                            <img src="http://www.just-wp-it.com/wp-content/uploads/2016/03/inboxiconanimation_30.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Директен мейлинг, персонализиран и транзакционен печат - това е основата на нашия бизнес. Тexнoлoгичното ниво и модерното оборудване ни позволяват да предложим на своите клиенти максимално изгодни и гъвкави условия за изработка и разнос на персонализирани писма.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/meiling" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Решения, с които можем да ви бъдем полезни</h3>
                <div class="row mt-60">
                    <a href="solution/solution">
                        <div class="col-md-2" >
                            <img src="https://d13yacurqjgara.cloudfront.net/users/42577/screenshots/1470973/lightbulb.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Независимо дали сте от банковия, застрахователния, ютилити, телеком,търговския или издателския сектор, ние имаме решения за ваши оперативни задачи. Вижте всички наши решения, разделени по различните икономически сектори.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="solution/solution" class="btn btn-default">Вижте повече</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    </div>

</section>

<script src="./javascripts/jquery-1.10.2.js"></script>
<script src="./../javascripts/bootstrap.js"></script>
<script src="./../javascripts/jquery.js"></script>
<script src="./../javascripts/bootstrap.min.js"></script>
<script src="./../javascripts/particles.min.js"></script>
<script src="./../javascripts/app.js"></script>
<script src="./../javascripts/jquery.parallax.js"></script>
<script src="./../javascripts/smoothscroll.js"></script>
<script src="./../javascripts/custom.js"></script>