<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/newsCreation/create">
            <fieldset>
                <legend>Нова новина</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Вашата новина</label>
                    <div class="col-sm-4 ">
                        <input minlength="5" maxlength="50" type="text" class="form-control" id="articleTitle" placeholder="Вашата новина" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Съдържание</label>
                    <div class="col-sm-6">
                        <textarea minlength="30" maxlength="3000" class="form-control" id="articleContent" rows="5" placeholder="Съдържание" name="content" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Качете снимка</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="image" type="file" name="image" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <button type="reset" class="btn btn-default">Откажи</button>

                        <button type="submit" class="btn btn-primary">Изпрати</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
