<div class="row">

    <div clas="row">
        <div class="col-xs-12 col-sm-3">
            <h1>Basic</h1>
            <ul>
                <li><a href="/stats/newsCreated">News</a></li>
                <li><a href="/stats/questionsAnswers">Questions/Answers</a></li>
                <li><a href="/stats/userActivity">UserActivity</a></li>
            </ul>
            {{#if user.admin}}
                <p2 style="font-size: large">Admin</p2>
                <!--add Admin functionality-->
                <ul>
                    <li><a href="/stats/logBrowser">Log</a></li>
                </ul>
            {{/if}}


        </div>

        <div class="col-xs-12 col-sm-9">


            <canvas id="myChart"></canvas>


        </div>
        <div id="data" class="data" style="display: none" >{{output}}</div>
    </div>
    <script>charVisual()</script>
    <div class="row"></div>

</div>