<div class="row">

    <div clas="row">
        <div class="col-xs-12 col-sm-3">
            <h1>Basic</h1>
            <ul>
                <li><a href="/stats/newsCreated">News</a></li>
                <li><a href="/stats/questionsAnswers">Questions/Answers</a></li>
                <li><a href="/stats/userActivity">UserActivity</a> </li>
            </ul>
            {{#if user.admin}}
                <p2 style="font-size: large">Admin</p2>
                <!--add Admin functionality-->
                <ul>
                    <li><a href="/stats/logBrowser">Log</a></li>
                </ul>
            {{/if}}


        </div>

        <div class="col-xs-12 col-sm-9">


            <canvas id="myActivityChart"></canvas>

        </div>
        <div id="data2" class="data2" style="display: none" >{{output}}</div>

    </div>

    <script>
       charActivityVisual();

    </script>


</div>