<h3>Услуги</h3>
<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">

                <div class="blog-post-thumb">
                    <h3>Мейлинг услуги</h3>
                    <div class="blog-post-image">
                        <a href="single-post.html">
                            <img src="https://s-media-cache-ak0.pinimg.com/originals/5f/92/96/5f9296f0364ebfdb00b594fe368768ab.gif" class="img-responsive" alt="Blog Image" style="width: 50%">
                        </a>
                    </div>
                    <div class="blog-post-des">
                        <p>Независимо дали сте малка фирма и планирате мейлинг кампания или сте най-големия доставчик на комунални услуги, ние можем да поемем цялостното изпълнение на проекта. От обработката на базите данни, с които разполагате, през производството на пощенските пликове, печата на променливи данни, пликоването, до разноса до получателите.</p>
                        <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>