<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h3>Печат на книги</h3>

            <div class="row mt-60">

                <div class="col-md-2" >
                    <img src="https://bluereadbooks.files.wordpress.com/2017/03/loading-animations-preloader-gifs-ui-ux-effects-4.gif?w=187" class="img-responsive">

                </div>
                <div class="col-md-7">

                    <p>Комплексна услуга за производство на книги и учебници в къси серии. Дигиталното книгоиздаване обръща бизнес модела от „Отпечатай – Складирай – Продавай“ на „Продай – Произведи“. Дайрект Сървисиз осигурява:</p>

                </div>

            </div>
            <div class="row mt-60">
            <ul>
                <li><p>предпечатна подготовка и оформление на книги и учебници;</p></li>
                <li><p>отпечатване на книги и учебници с дигитални машини;</p></li>
                <li><p>подвързване на книги с меки или твърди корици, шиене с телбод или спирала;</p></li>
                <li><p>пакетиране и разпращане на книги към клиенти.</p></li>
            </ul>
                <br>
                <p>Услугата „Книги в малки тиражи“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>премахване на рисковете от издаване на неуспешно заглавие;</p></li>
                    <li><p>разнообразяване на продуктовия каталог, Интернет търговия;</p></li>
                    <li><p>снижаване на складовите наличности и повишаване ефективноста на работния капитал.</p></li>
                </ul>
                </div>
            <div class="blog-post-des">
                <a href="/contacts/contacts" class="btn btn-default">Изпрати запитване</a>
            </div>
        </div>
    </div>
</div>