<section id="blog">
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h3>Картов мейлинг</h3>

            <div class="row mt-60">

                <div class="col-md-2" >
                    <img src="https://d13yacurqjgara.cloudfront.net/users/527271/screenshots/2501896/loop_2.gif" class="img-responsive">
                </div>
                <div class="col-md-10">
                    <p>Комплексна услуга за автоматизирано пликоване на персонализирани карти. Крайната цел е бързо окомплектоване и изпращане на пликове с персонализирани придружителни писма и залепени към тях клиентски карти, при гарантирано 100% съвпадение на данните от писмото и картата. Дайрект Сървисиз ООД осигурява:</p>
                </div>
            </div>
            <ul>
                <li>   <p>гарантирана защита при електронния пренос, обработка и съхранение на данните;</p></li>
                <li>  <p>производство и доставка на клиентски карти, бланки и пликове за изработка на писмата;</p></li>
                <li> <p>визуална или релефна персонализация на картите;</p></li>
                <li>  <p>кодиране на чип и/или магнитна лента;</p></li>
                <li> <p> автоматизирано отпечатване на придружително писмо, сравнение за съответствие между карта и писмо и залепяне на картата върху писмото;</p></li>
                <li> <p> пликоване на писмата с възможности за добавяне на маркетингови материали;</p></li>
                <li> <p>  разпространение на писмата до получателите с подготовка на електронен отчет за резултатите на кампанията.</p></li>
               </ul>
            <ul>
                <p> Услугата „Картов мейлинг“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <li><p> предоставяне на завършен маркетингов продукт на крайния потребител;</p></li>
                <li> <p>фиксирани цени и ясна себестойност на услугата, т.е. лесно и предвидимо планиране на разходите;</p></li>
                <li> <p>комплексна услуга от един изпълнител.</p></li>
            </ul>
            <div class="blog-post-des">
                <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
            </div>
        </div>
    </div>
</div>
   </section>