<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12" >

                <div class="blog-post-thumb" style="margin-bottom: -7%">
                    <h3>Дигитален печат</h3>
                        <p>Развитието на технологиите през последните години наруши вековната хегемония на офсетовия печат. С всяка изминала година дигиталните принтери заемат пазарни пространства и създават нови, доскоро невиждани възможности за бизнес. Основните предимства на дигиталния печат са:</p>
                </div>

                <div class="blog-post-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/3jUTc1vhu9c" ></iframe>
                    </div>
                </div>
                <div class="blog-post-thumb">

                    <div class="blog-post-des">
                        <ul>
                            <li style="text-align: justify;"><p>„Print on demand“ (печат при необходимост) концепция.</p></li>
                            <li style="text-align: justify;"><p>Възможност за отпечатване на къси тиражи или единични екземпляри.</p></li>
                            <li style="text-align: justify;"><p>Унифицирана цена, слабо зависима от размера на тиража.</p></li>
                            <li style="text-align: justify;"><p>Добро качество на печат, еднакво за целия тираж.</p></li>
                            <li style="text-align: justify;"><p>Разнообразие от медии и размери на печатното изделие.</li>
                            <li style="text-align: justify;"><p>Възможност за персонализация и индивидуалност на всеки отделен отпечатък.</p></li>
                            <li style="text-align: justify;"><p>Ниски разходи за подготовка.</li>
                        </ul>
                        <p>Тexнoлoгичното ниво и модерното оборудване ни позволяват да предложим на своите клиенти максимално изгодни и гъвкави условия за изработка на материали, печат, пликоване и разнос на фaктури, извeстия, извлeчeния oт смeтки и всякакви други бизнес документи.</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Транзакционен печат</h3>

                <div class="row mt-60">
                    <a href="/services/transPrint">
                    <div class="col-md-2" >
                        <img src="http://68.media.tumblr.com/b879c7382800d1f5001b645d3882fd8a/tumblr_muovzpPpdm1sshk0co1_r1_400.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Комплексна услуга за обработка и трансформация на електронна информация върху хартиен носител. Крайната цел е бързо отпечатване на голям обем индивидуално персонализирани и различни по съдържание документи.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/transPrint" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Печат на книги</h3>

                <div class="row mt-60">
                    <a href="/services/booksPrinting">
                    <div class="col-md-2" >
                        <img src="https://bluereadbooks.files.wordpress.com/2017/03/loading-animations-preloader-gifs-ui-ux-effects-4.gif?w=187" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Комплексна услуга за производство на книги и учебници в малки и средни серии. Дигиталното книгоиздаване обръща бизнес модела от „Отпечатай – Складирай – Продавай“ на „Продай – Произведи“.</p>                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/booksPrinting" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Директен маркетинг</h3>

                <div class="row mt-60">
                    <a href="/services/digitalMarceting">
                    <div class="col-md-2" >
                        <img src="http://redcloudinteractive.com/wp-content/uploads/2016/06/SOCIAL-MEDIA-MANAGEMENT.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Комплексна услуга за подготовка и изпращане на персонализирани цветни рекламни послания върху хартиен носител. Целенасочената реклама към правилно подбрана целева група увеличава многократно ефективността на кампанията и стимулира продажбите.</p>
                                           </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/digitalMarceting" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
