<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Директен маркетинг</h3>
                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="http://redcloudinteractive.com/wp-content/uploads/2016/06/SOCIAL-MEDIA-MANAGEMENT.gif" class="img-responsive">
                    </div>
                    <div class="col-md-10">
                        <p>Комплексна услуга за подготовка и изпращане на персонализирани цветни рекламни послания върху хартиен носител. Целенасочената реклама към правилно подбрана целева група увеличава многократно ефективността на кампанията и стимулира продажбите. Дайрект Сървисиз осигурява:</p>
                    </div>
                </div>
                <ul>
                    <li><p>дизайн и предпечатна подготовка на маркетингови писма и рекламни материали;</p></li>
                    <li><p>обработка на адресна информация и корекция на невалидни адреси;</p></li>
                    <li><p>пълноцветен печат на маркетингови и рекламни материали с обединяване на променлива и фиксирана информация върху различни по размер и грамаж медии;</p></li>
                    <li><p>възможност за по-нататъшна обработка на отпечатаните материали с различни довършителни дейности (пликоване, ламиниране, подвързане, дистрибуция).</p></li>
                </ul>
                <br>
                <p>Услугата „Директен маркетинг и реклама“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>

                    <li><p>осъществяване на целенасочени маркетингови кампании към таргетирана целева група;</p></li>
                    <li><p>подобряване на ефективността на кампанията чрез адресирането и само към целева група, която проявава интерес към рекламираната услуга/стока;</p></li>
                    <li><p>комплексна услуга от един изпълнител.</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>