<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>E-invoice</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="https://www.labster.com/wp-content/uploads/2017/02/check-inbox-small.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Дайрект Сървисиз ООД осигурява:</p>
                    </div>
                </div>
                <ul>
                    <li><p>конвертори към xml стандарта на e-invoice за множество счетоводни програми;</p></li>
                    <li><p>инструмент за цифрово подписване на фактурите, работещ с всички налични на пазара решения за цифров подпис;</p></li>
                    <li><p>визуализация на фактурите по зададен от издателя графичен шаблон;</p></li>
                    <li><p>публикуване на придружаващи фактурата документи (протоколи, разписки, справки и статистики) в практически всякакъв формат на файла.</p></li>

                </ul>
                <br>
                <p>Услугата „e-invoice“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>снижаване на оперативните разходи чрез отпадане на пощенските такси за доставка на писма;</p></li>
                    <li><p>кратък срок на доставка на всяка изпратена фактура, т.е. подобряване на събираемоста;</p></li>
                    <li><p>гарантирана доставка до конкретен получател с визуализация на историята на фактурата;</p></li>
                    <li><p>автоматизация на процесите по изпращане на фактури и модернизация на работата на фирмата.</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
                <div class="blog-post-des">
                    <a href="/images/e-invoice.pdf" class="btn btn-default">Описание на системата</a>
                </div>
            </div>
        </div>
    </div>
</section>