<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12" >

                <div class="blog-post-thumb" style="margin-bottom: -7%">
                    <h3>Електронни архиви</h3>
                    <p>Изнесената обработка на документи е специализирана област от изнесените бизнес процеси (Business Process Outsourcing).</p>
                </div>

                <div class="blog-post-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/1bwMAIQ8i-k" ></iframe>
                    </div>
                </div>
                <div class="blog-post-thumb">

                    <div class="blog-post-des">
                        <p>Дайрект Сървисиз предлага обработка и съхранение на документите, и преобразуване на печатен и ръкописен текст от хартиен и електронен носител (например сканирано изображение на документ) в електронна информация.</p> <p>Разпознаване на информацията се извършва от опитни оператори, или автоматично с интелигентно разпознаване на символи (ICR) и оптично разпознаване на символи (OCR).</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Сканиране</h3>

                <div class="row mt-60">
                    <a href="/services/scaning">
                    <div class="col-md-2" >
                        <img src="http://valeira.com/wp-content/uploads/scan-animation.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Изваждаме, сканираме и сортираме хиляди листове на месец, след което задаваме ключови думи на всеки един файл, за да може документът да бъде намерен за секунда от нашата система за работа с електронния архив - ARCHY. И наистина сме добри в това.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/scaning" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Обработка на формуляри</h3>

                <div class="row mt-60">
                    <a href="/services/formulqrs">
                    <div class="col-md-2" >
                        <img src="https://storage.googleapis.com/ccwebsite-assets/img/service/security.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Комплексна услуга за извличане на информация от хартиени или електронни формуляри, предоставяне на създадените бази данни за последваща обработка.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/formulqrs" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Физическо съхранение</h3>

                <div class="row mt-60">
                    <a href="/services/physicalStorage">
                    <div class="col-md-2" >
                        <img src="https://media.giphy.com/media/WUW6LGtoDbWMw/giphy.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Услуга за изнесено съхранение и управление на хартиения архив.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/physicalStorage" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

</section>




