<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12" >

                <div class="blog-post-thumb" style="margin-bottom: -7%">
                    <h3>Електронни книги</h3>
                    <p>Дайрект Сървисиз оперира собствен Adobe® Content Server 4, който е високотехнологично софтуерно решение, защитаващо електронно съдържанието на PDF и автоматично скалиращия се формат за електронни книги – EPUB, подходящ за всички съвместими устройства предназначени за четене на електронни книги – електронни четци, таблети, смартфони и т.н.</p>
                </div>

                <div class="blog-post-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/vJzhr7zSdTA" ></iframe>
                    </div>
                </div>
                <div class="blog-post-thumb">

                    <div class="blog-post-des">
                        <p>Дайрект Сървисиз предоставя услугата на фиксирани цени, без алтернатива на българския пазар. С нашето решение, вие можете да продавате електронно съдържание през собствения си сайт.</p>
                    </div>
                    <div class="blog-post-des">
                        <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                    </div>
                    <hr>
                </div>
            </div>

        </div>

    </div>
</section>