<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12" >

                <div class="blog-post-thumb" style="margin-bottom: -7%">
                    <h3>Електронни комуникации</h3>
                    <p>Бурното развитие на информационните технологии в последните години променя множество бизнес модели и оказва необратимо въздействие върху индустрията за разпространение на печатни материали. Ясно очертана е тенденцията за „дематериализация“ на материалните носители и заместването им с дигитални такива. Обменът на информация в цифров вид освен икономически, има и две други съществени предимства – скорост на доставката и проследяемост на процеса.</p>
                </div>

                <div class="blog-post-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/u4VrJrSQubE" ></iframe>
                    </div>
                </div>
                <div class="blog-post-thumb">

                    <div class="blog-post-des">
                        <p>За да отговори на нуждите на своите клиенти, Дайрект Сървисиз разработва и оперира модерни технологични решения за транспортиране на информацията до крайния получател. Ние предлагаме уникална възможност за комбиниране на комуникационните канали според индивидуалните предпочитания на всеки краен получател на информацията. Така например всеки от абонатите на една телекомуникационна компания може да избере най-удобния за него начин на получаване на справки и фактури за ползваните услуги – електронна цифрово подписана фактура за бизнес абонатите, e-mail съобщение за ползващите Интернет потребители или писмо в плик за любителите на традициите.</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>E-invoice</h3>

                <div class="row mt-60">
                    <a href="/services/e-invoice">
                    <div class="col-md-2" >
                        <img src="https://www.labster.com/wp-content/uploads/2017/02/check-inbox-small.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>В допълнение към традиционното изпращане на фактури по пощата, Дайрект Сървисиз разработи и оперира портала e-invoice.bg - платформа за електронен обмен на цифрово подписани данъчни фактури.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/e-invoice" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>SMS</h3>

                <div class="row mt-60">
                    <a href="/services/sms">
                    <div class="col-md-2" >
                        <img src="https://www.vservices.com/wp-content/themes/vServices/gif/sms-marketing.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>За да отговори на нуждите на своите клиенти, Дайрект Сървисиз разработва и оперира модерни технологични решения за транспортиране на информацията до крайния получател. Ние предлагаме уникална възможност за комбиниране на комуникационните канали според индивидуалните предпочитания на всеки краен получател на информацията..</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/sms" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>E-mail</h3>

                <div class="row mt-60">
                    <a href="/services/email">
                    <div class="col-md-2" >
                        <img src="http://www.whymedia.com/img/services/icons/new/emailMarketing.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-8">
                        <p>Ако трябва да изпратите съобщения до голям брой получатели, електронните канали неминуемо са най-бързия метод.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/email" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

</section>