<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Обработка на формуляри</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="https://media.giphy.com/media/YyIpyQtuiTyLK/source.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Комплексна услуга за извличане на информация от хартиени или електронни формуляри, предоставяне на създадените бази данни за последваща обработка. Дайрект Сървисиз ООД осигурява:</p>
                    </div>
                </div>
                <ul>
                    <li> <p>извличане на информация от хартиени или електронни формуляри и въвеждане в бази данни; </p></li>
                    <li> <p>обработка на структурирани (заявления, въпросници), полуструктурирани (фактури) и неструктурирани (писма, жалби) формуляри;</p></li>
                    <li> <p>ръчно или автоматизирано въвеждане на данни;</li>
                    <li> <p>внедряване на софтуерни платформи за децентрализирано сканиране и централизирана обработка на формуляри.</p></li>
                </ul>
                <br>
                <p>Услугата „Обработка на формуляри“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>бърза обработка на входящи формуляри, т.е. бързо обслужване на клиентските заявки;</p></li>
                    <li><p>трансформация на информацията – от множество носители към обща база данни с възможност за използване на тази информация за маркетингови цели.</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>