<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                    <h3>Производство на писма и колети</h3>
                    <table>
                        <tr>
                            <td>
                    <div class="blog-post-image">
                        <a href="single-post.html">
                            <img src="https://s-media-cache-ak0.pinimg.com/originals/07/99/0d/07990de3a791c7330131934bc546ad25.gif" class="img-responsive" alt="Blog Image" style="width: 70%">
                        </a>
                    </div>
                            </td>
                            <td>
                    <div class="blog-post-des">
                        <p>Дигитализацията на архиви е едно от най-развитите ни направления. Изградили сме собствена система за работа с електронния архив, а високо квалифицираният екип, оборудването и фирменото know-how осигуряват висока призводителност. Ежемесечно сканираме и индексираме стотици хиляди документи.</p>
                    </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <ul>
                                    <li style="text-align: left;"><p>гарантирана защита при електронния пренос, обработка и съхранение на данните;</p></li>
                                    <li style="text-align: left;"><p>обработка на данните и подготовка на писмата за печат;</p></li>
                                    <li style="text-align: left;"><p>производство и доставка на бланки и пликове за изработка на писмата;</p></li>
                                    <li style="text-align: left;"><p>високоскоростен монохромен или цветен лазерен печат (персонализация на писмата);</p></li>
                                    <li style="text-align: left;"><p>автоматизирано пликоване на писмата с възможности за добавяне на маркетингови материали;</p></li>
                                    <li style="text-align: left;"><p>разпространение на писмата до получателите (с подизпълнители) и подготовка на електронен отчет за резултатите от кампанията.</p></li>
                                </ul>
                                <p>Услугата „Производство на писма“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                                <ul>
                                    <li style="text-align: left;"><p>гарантирани срокове за изработка и доставка на писмата, т.е. подобрена събираемост на вземанията;</p></li>
                                    <li style="text-align: left;"><p>фиксирани цени и ясна себестойност на услугата, т.е. лесно и предвидимо планиране на разходите;</p></li>
                                    <li style="text-align: left;"><p>концентриране върху основната дейност, т.е. отпадане на ангажименти за инвестиции в техника и хора за печат и производство на писмата;</p></li>
                                    <li style="text-align: left;"><p>комплексна услуга от един изпълнител.</p></li>
                                </ul>
                            </td>
                        </tr>
                        </table>
                    <div class="blog-post-des" style="position: static" >
                        <a href="/contacts/contacts" class="btn btn-default">Изпратете Запитване</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

    </div>
</section>



