<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Физическо съхранение</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="https://media.giphy.com/media/WUW6LGtoDbWMw/giphy.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Услуга за изнесено съхранение и управление на хартиения архив. Дайрект Сървисиз ООД осигурява: </p>
                    </div>
                </div>
                <ul>
                    <li><p>подредба и сортиране на хартиения архив, поставяне на документите в специални архивни кутии или кашони;</p></li>
                    <li><p>транспортиране на архива и съхранение на архивираните документи в специализирани помещения;</p></li>
                    <li><p>предоставяне на оригинални документи при поискване;</p></li>
                    <li><p>сканиране на документи и изпращане на електронно копие при поискване.</p></li>
                </ul>
                <br>
                <p>Услугата „Физическо архивиране“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>спестяване на разходи по изграждане на собствени архивни помещения в скъпите наемни площи на офис сградите;</p></li>
                    <li><p>съхранение на архива в специализирани помещения, т.е. намаляне на риска от погубване или влошаване качеството на документите.</p><br></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>