<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Сканиране</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="http://valeira.com/wp-content/uploads/scan-animation.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Комплексна услуга за трансформиране на хартиения архив в електронен. Дайрект Сървисиз осигурява:</p>
                    </div>
                </div>
                <ul>
                    <li><p>подредба и сортиране на хартиения архив;</p></li>
                    <li><p>цифровизация на хартиения архив – сканиране на документи, независимо от техния размер и физическо състояние;</p></li>
                    <li><p>индексиране на сканираните документи – въвеждане на ключови думи, по които документите се търсят в електронния архив;</p></li>
                    <li><p>предоставяне на софтуерни платформи за работа с електронния архив, включително хостинг;</p></li>
                    <li><p>приемане и физическо съхранение на хартиените документи в специализирани помещения с гарантирана доставка на искани оригинали в рамките на 24 часа.</p></li>
                </ul>
                <br>
                <p>Услугата „Електронни Архиви“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>запазване на архива и защита на оригинални документи от погубване;</p></li>
                    <li><p>бърз и удобен достъп до всеки документ, от всеки офис на компанията, т.е. спестяване на време за търсене и връщане на хартиени оригинали;</p></li>
                    <li><p>рязко намаляване на обемите копирани документи – служителите работят с електронни копия на документите;</p></li>
                    <li><p>спестяване на разходи по изграждане на собствени архивни помещения в скъпите наемни площи на офис сградите.</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>