<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Мейлинг услуги</h3>
                <div class="row mt-60">
                    <a href="/services/meiling">
                    <div class="col-md-2" >
                        <img src="https://cdn.dribbble.com/users/22930/screenshots/2177605/envelope.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Независимо дали сте малка фирма и планирате мейлинг кампания или сте най-големия доставчик на комунални услуги, ние можем да поемем цялостното изпълнение на проекта. От обработката на базите данни, с които разполагате, през производството на пощенските пликове, печата на променливи данни, пликоването, до разноса до получателите.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/meiling" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Дигитален Печат</h3>
        <div class="row mt-60">
            <a href="/services/digitalPrint">
            <div class="col-md-2" >
                <img src="http://arasanganesanpoly.org/images/printing/Press1.gif" class="img-responsive" alt="Blog Image">
            </div>
            </a>
            <div class="col-md-10">
                <p>Развитието на технологиите през последните години наруши вековната хегемония на офсетовия печат. С всяка изминала година дигиталните принтери заемат пазарни пространства и създават нови, доскоро невиждани възможности за бизнес.</p>
            </div>
        </div>
        <div class="blog-post-des">
            <a href="/services/digitalPrint" class="btn btn-default">Вижте повече</a>
        </div>
                <hr>

    </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Електронни архиви</h3>
        <div class="row mt-60">
            <a href="/services/elArhives">
            <div class="col-md-2" >
                <img src="https://www.vservices.com/wp-content/themes/vServices/gif/cloud-servers.gif" class="img-responsive" >
            </div>
            </a>
            <div class="col-md-10">
                <p>Изнесената обработка на документи е специализирана област от изнесените бизнес процеси (Business Process Outsourcing). Дайрект Сървисиз предлага обработка и съхранение на документите, и преобразуване на печатен и ръкописен текст от хартиен и електронен носител (например сканирано изображение на документ) в електронна информация.</p>
            </div>
        </div>
        <div class="blog-post-des">
            <a href="/services/elArhives" class="btn btn-default">Вижте повече</a>
        </div>
                <hr>

    </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h3>Електронни комуникации</h3>

        <div class="row mt-60">
            <a href="/services/elCommunications">
            <div class="col-md-2" >
                <img src="https://confluence.atlassian.com/bitbucketserver/files/794211212/806260939/1/1455689965914/smart+commits_10fps_320pxwide.gif" class="img-responsive">
            </div>
            </a>
            <div class="col-md-10">
                <p>Бурното развитие на информационните технологии в последните години променя множество бизнес модели и оказва необратимо въздействие върху индустрията за разпространение на печатни материали.</p>
            </div>
        </div>
        <div class="blog-post-des">
            <a href="/services/elCommunications" class="btn btn-default">Вижте повече</a>
        </div>
            <hr>

    </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Електронни книги</h3>

                <div class="row mt-60">
                    <a href="/services/elBooks">
                    <div class="col-md-2" >
                        <img src="https://2.bp.blogspot.com/-woYlqNBjyZQ/V6twQy07uzI/AAAAAAAAAKc/nhvYX6CEn3cvc9ZKPjnifiBtNThKhRpeACLcB/s1600/image01.gif" class="img-responsive">
                    </div>
                    </a>
                    <div class="col-md-10">
                        <p>Дайрект Сървисиз оперира собствен Adobe® Content Server 4, който е високотехнологично софтуерно решение, защитаващо електронно съдържанието на PDF и автоматично скалиращия се формат за електронни книги – EPUB, подходящ за всички съвместими устройства предназначени за четене на електронни книги – електронни четци, таблети, смартфони и т.н</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/services/elBooks" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

</section>