<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>SMS</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="https://www.vservices.com/wp-content/themes/vServices/gif/sms-marketing.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Услуги за изпращане на съобщения по електронен път към голям брой получатели. Дайрект Сървисиз ООД осигурява:</p>
                    </div>
                </div>
                <ul>
                    <li><p> обработка на данни и генериране на индивидуално sms съобщение;</p></li>
                    <li><p>изпращане на персонализирани или групови съобщения по sms и/или e-mail;</p></li>
                    <li><p>комбиниране на различни канали за изпращане на информацията към получателите – хартиено писмо, електронна поща, sms;</p></li>
                </ul>
                <br>
                <p>Услугата „sms“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>
                    <li><p>бързо уведомяване на голям брой крайни получатели по предпочитан от тях канал;</p></li>
                    <li><p>автоматизация на процеса на изпращане на голям брой съобщения;</p></li>
                    <li><p>комплексна услуга от един изпълнител.</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>