<section id="blog">
<div class="container">

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h3>Транзакционен печат</h3>

            <div class="row mt-60">

                <div class="col-md-2" >
                    <img src="http://68.media.tumblr.com/b879c7382800d1f5001b645d3882fd8a/tumblr_muovzpPpdm1sshk0co1_r1_400.gif" class="img-responsive">

                </div>
                <div class="col-md-10">
                    <p>Комплексна услуга за обработка и трансформация на електронна информация върху хартиен носител. Крайната цел е бързо отпечатване на голям обем индивидуално персонализирани и различни по съдържание документи. Дайрект Сървисиз осигурява:</p>
                </div>

                    <div class="col-md-10">
                        <ul>
                    <li><p>получаване и съхранение на електронната информация (бази данни , текстови или графични файлове) при гарантирани нива на защита;</p></li>
                    </ul>
                        </div>
                <div class="col-md-10">
                        <ul>
                    <li><p>обработка на информацията и подготовка на файлове за печат с персонализирани данни при абсолютна конфиденциалност;</p></li>
                    <li><p>монохромен или цветен печат на променлива информация върху различни по размер и грамаж медии;</p></li>
                    <li><p>възможност за по-нататъшна обработка на отпечатаните материали с различни довършителни дейности (пликоване, ламиниране, подвързане, дистрибуция).</p></li>

                </ul>
                    </div>

            </div>
            <div class="row mt-60">

                <p>Услугата „Транзакционен печат“ осигурява следните конкурентни предимства на нашите клиенти:</p>
                <ul>

                    <li><p>бързо и качествено отпечатване на голям брой индивидуално персонализирани документи;</p></li>
                    <li><p>фиксирани цени и ясна себестойност на услугата, т.е. лесно и предвидимо планиране на разходите;</p></li>
                    <li><p>комплексна услуга от един изпълнител.</p></li>
                </ul>

            </div>
            <div class="blog-post-des">
                <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
            </div>
            </div>


        </div>


</div>
</div>
    </div>
    </section>