<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Карти за лоялни клиенти</h3>
                <div class="row mt-60">
                    <a href="/products/loyalClients">
                        <div class="col-md-2" >
                            <img src="https://media.giphy.com/media/lRDKjINNsgPo4/giphy.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
<p>Искате да задържите съществуващи клиенти, да следите потреблението на продуктите си, да спечелите нови или да дадете преференциални условия? Всичко това може да бъде постигнато с карти за лоялни клиенти.</p>                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/loyalClients" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Банкови карти</h3>
                <div class="row mt-60">
                    <a href="/products/cards">
                        <div class="col-md-2" >
                            <img src="https://community.monzo.com/uploads/getmondo/original/2X/9/9ea82d7a5e13c77c005cdf4d1931d5548e8479c2.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Дайрект Сървисиз е основен доставчик на сертифицирани банкови карти от Visa и MasterCard.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/cards" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
</section>