<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Книги</h3>

                <div class="row mt-60">

                    <div class="col-md-2" >
                        <img src="https://bluereadbooks.files.wordpress.com/2017/03/loading-animations-preloader-gifs-ui-ux-effects-4.gif?w=187" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p>Издателствата и авторите са в постоянно търсене на баланса между себестойността на книгата и размера на инвестицията за отпечатване, съхранение и дистрибуция на произведените книги. Задачата определено няма еднозначно решение, но конкурентната пазарна среда натиска тиражите надолу и изисква включване на все повече заглавия в каталозите. Единственият разумно възможен изход от ситуацията е използването на модерни, базирани върху дигиталния печат методи и технологии за производство на книги. При сегашните пазарни условия традиционния подход „Отпечатай – складирай – продавай“ е свързан с прекалено много рискове и допълнителни разходи, което прави всеки един проект рисков и несигурен.</p>
                        <p>Дайрект Сървисиз промотира „Book on demand“ (книга при поискване) - нов модел на работа, при който книгата се произвежда след като вече е продадена. С други думи – издателят концентрира усилията си върху маркетинга на заглавието, след което произвежда толкова екземпляра, колкото е търсенето. При нас можете да поръчате:</p>
                    </div>
                </div>
                <ul>
                    <li><p>предпечатна подготовка и корекция на готови файлове;</p></li>
                    <li><p>производство на книги и учебници в различни размери, с всички видове подвързия;</p></li>
                    <li><p>изделия с неограничен микс от черно-бели и цветни страници в книжното тяло;</p></li>
                    <li><p>цялостно управление на електронни магазини – от получаване на поръчка от клиента, през печат и производство на книгата до доставка на готовото изделие.</p></li>
                </ul>
                <hr>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>

            </div>
        </div>
    </div>
</section>