<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Книги</h3>
                <div class="row mt-60">
                    <a href="/products/books">
                        <div class="col-md-2" >
                            <img src="https://bluereadbooks.files.wordpress.com/2017/03/loading-animations-preloader-gifs-ui-ux-effects-4.gif?w=187" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Печат на книги в малки и средни тиражи. Поредна година Дайрект Сървисиз се утвърждава като лидер на българския пазар за дигитален печат на книги.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/books" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Дипляни</h3>
                <div class="row mt-60">
                    <a href="/products/deeps">
                        <div class="col-md-2" >
                            <img src="https://cdn.dribbble.com/users/35367/screenshots/1436646/h-book-colors.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Ние можем да изготвим дизайна, да обработим графичните ви файлове, да отпечатаме и доставим всички тези материали. В случай, че решите да използвате нашите мейлинг услуги, осигуряваме и безплатно складиране на материалите до момента на тяхното използване.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/deeps" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
    </section>