<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Банкови карти</h3>
                <div class="row mt-60">
                    <div class="col-md-2" >
                        <img src="https://community.monzo.com/uploads/getmondo/original/2X/9/9ea82d7a5e13c77c005cdf4d1931d5548e8479c2.gif" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p>Дайрект Сървисиз е водещ доставчик на EMV Visa / MasterCard карти за банковия сектор. Производството на пластиката, монтажът и предварителната персонализация на чипа се изпълняват в Унгария.</p>
                        <p>Унгарската Държавна Печатница АД разполага с всички необходими разрешения и сертификати за производство и персонализация на международни (MasterCard и VISA) и местни банкови карти. Инсталираните високотехнологични машини от последно поколение осигуряват възможности за производство на всякакви видове карти (с магнитна лента, EMV чип и/или комбинирани) в кратки срокове и при изгодна цена. Вграждането на чиповете се извършва от високопроизводителна и напълно автоматизирана производствена линия. Освен доставката на пластиката, ние предлагаме и следните съпътстващи услуги:</p>
                    </div>
                </div>
                <div class="row mt-60">
                    <div class="col-md-7">
                        <ul>
                            <li><p>Проектиране и дизайн на карти и PIN пликове.</p></li>
                            <li><p>Проектиране и внедряване на допълнителни приложения за EMV карти.</p></li>
                            <li><p>Мейлинг на карти и извлечения за движения по карти.</p></li>
                            <li><p>Обработка и актуализация на бази данни.</p></li>

                        </ul>
                    </div>
                </div>
                <hr>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default" >Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>