<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Карти за лоялни клиенти</h3>
                <div class="row mt-60">
                    <div class="col-md-2" >
                        <img src="https://media.giphy.com/media/lRDKjINNsgPo4/giphy.gif" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p> Водени от желанието да задържат своите клиенти, все повече компании въвеждат системи за допълнителни бонуси и преференции. Един от най-успешните модели в тази област е въвеждането на клиентски карти и внедряването на програми и промоции за лоялни клиенти. Дайрект Сървисиз предлага практически неограничено разнообразие от карти. Както обикновено, водещ наш мотив е идеята за предлагане на системни решения, включващи следните услуги:</p>
                    </div>
                </div>
                <div class="row mt-60">
                    <div class="col-md-7">
                        <ul>
                            <li><p>Дизайн на карти.</p></li>
                            <li><p>Производство на карти.</p></li>
                            <li><p>Персонализация на карти.</p></li>
                            <li><p>Персонализирани и неперсонализирани придружителни писма.</p></li>
                            <li><p>Промоционални и маркетингови вложки.</p></li>
                            <li><p>Обработка и актуализация на бази данни.</p></li>
                            <li><p>Пликоване и дистрибуция (картов мейлинг).</p></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default" >Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>