<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Хартиени пликове</h3>
                <div class="row mt-60">
                    <a href="/products/paperEnvelope">
                        <div class="col-md-2" >
                            <img src="http://fallriverschools.org/HS_web_design/2016_2/emontecinos/images2/mail.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>С прозорец, без прозорец, за ръчно влагане или със силиконова лента? Ние можем да изработим всякакви бели, цветни и брандирани пощенски пликове.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/paperEnvelope" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Хартиени бланки</h3>
                <div class="row mt-60">
                    <a href="/products/paperBlanks">
                        <div class="col-md-2" >
                            <img src="https://assets.materialup.com/uploads/d2b61f7a-0a72-40dd-b738-08b401c17981/mail.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Традиционният начин за кореспонденция е свързан с изпращане на писма, а процесът започва с изработката на хартиените носители – бланки, пликове, рекламни вложки.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/paperBlanks" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    </section>