<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Хартиени бланки</h3>
                <div class="row mt-60">
                    <div class="col-md-2" >
                        <img src="https://assets.materialup.com/uploads/d2b61f7a-0a72-40dd-b738-08b401c17981/mail.gif" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p><br><br>При нас можете да поръчате:</p>
                    </div>
                </div>
                <br>

                <ul>
                    <li><p>предпечатна подготовка и корекция на готови файлове;</p></li>
                    <li><p>фирмени бланки върху хартия с предпочитания от вас грамаж и качество;</p></li>
                    <li><p>фирмени пликове с предпочитания от вас размер и начин на залепяне, с или без прозорец;</p></li>
                    <li><p>отпечатване на променлива информация върху бланките и пликовете;</p></li>
                    <li><p>цялостни мейлинг кампании</p></li>
                </ul>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default" >Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>