<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>ПИН пликове</h3>
                <div class="row mt-60">
                    <div class="col-md-2" >
                        <img src="http://esfandiari.us/images/gif-email.gif" class="img-responsive">
                    </div>
                    <div class="col-md-5">
                        <p> PIN пликовете (познати и под името Data Mailers) са специални формуляри, които съчетават плик и вкаран в него формуляр. Персонализацията се извършва с матричен принтер.</p>
                    </div>
                </div>
                <div class="row mt-60">
                <div class="col-md-7">
              <p>Използват се главно в банковия сектор за отпечатване на секретни кодове и пароли за достъп. Специфичната конструкция на изделието прави невъзможно прочитането на отпечатаната информация без да се наруши цялостта му, което прави PIN пликовете подходящи и за редица други приложения, например фишове за заплати.</p>
                </div>
                    </div>
                <hr>
                <div class="blog-post-des">
                    <a href="/contacts/contacts" class="btn btn-default">Изпратете запитване</a>
                </div>
            </div>
        </div>
    </div>
</section>