<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Хартиени бланки и пликове</h3>
                <div class="row mt-60">
                    <a href="/products/meilLetters">
                        <div class="col-md-2" >
                            <img src="https://static1.squarespace.com/static/51ba2198e4b089e26e4a4631/t/54aead4de4b06e67bce97500/1420733787325/Envelope.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Традиционният начин за кореспонденция е свързан с изпращане на писма, а процесът започва с изработката на хартиените носители – бланки, пликове, рекламни вложки. С прозорец, без прозорец, за ръчно влагане или със силиконова лента? Ние можем да изработим всякакви бели, цветни и брандирани пощенски пликове.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/meilLetters" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Книги и дипляни</h3>
                <div class="row mt-60">
                    <a href="/products/booksAndDeeps">
                        <div class="col-md-2" >
                            <img src="http://bestanimations.com/Books/page-turning-book-animation-17.gif" class="img-responsive" alt="Blog Image">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Печат на книги в малки и средни тиражи. Поредна година Дайрект Сървисиз се утвърждава като лидер на българския пазар за дигитален печат на книги. Ние можем да изготвим дизайна, да обработим графичните ви файлове, да отпечатаме и доставим всички тези материали.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/booksAndDeeps" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>ПИН пликове </h3>
                <div class="row mt-60">
                    <a href="/products/pin">
                        <div class="col-md-2" >
                            <img src="http://esfandiari.us/images/gif-email.gif" class="img-responsive" >
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Това са ПИН пликове, пликове за финансови и други институции, чиято кореспонденция съдържа поверителна информация.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/pin" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3>Пластмасови карти</h3>
                <div class="row mt-60">
                    <a href="/products/bankCard">
                        <div class="col-md-2" >
                            <img src="https://media.giphy.com/media/ZRQZuYpbPaKTS/source.gif" class="img-responsive">
                        </div>
                    </a>
                    <div class="col-md-10">
                        <p>Дайрект Сървисиз е основен доставчик на сертифицирани банкови карти от Visa и MasterCard.</p>
                    </div>
                </div>
                <div class="blog-post-des">
                    <a href="/products/bankCard" class="btn btn-default">Вижте повече</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>